*{
    margin:0;
    padding:0;
 }
 
 h1{
    background-color:#eeeeee7e;
    height:40px;
    width:450px;
    margin:0 auto;
    text-align: center;
 }
h2{
    width:450px;
    background-color:antiquewhite;
    margin:0 auto;
    text-align: center;
}
/*
.botton{
    background-color: #f2f7f2;
    border: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
*/